# Pycharm project
.idea/

# Python Virtual Environment
web/venv/

# Django migrations
/web/api/migrations/*
!/web/api/migrations/__init__.py

# SQL Lite Database
web/db.sqlite3

# NPM packages
web/frontend/node_modules/

# Dist
web/frontend/static/

# coverage
web/frontend/coverage/

# cache
web/.pytest_cache/
web/.coverage
web/.mypy_cache/
web/__pycache__/
web/account/__pycache__/
web/api/__pycache__/
web/api/migrations/__pycache__/
web/frontend/__pycache__/
