# Pycharm project
.idea/

# Python Virtual Environment
venv/

# Django migrations
*/migrations/*
!*/migrations/__init__.py

# SQL Lite Database
db.sqlite3

# NPM packages
frontend/node_modules/

# Dist
frontend/static/

# coverage
frontend/coverage/

# cache
.pytest_cache/
.coverage