#todo-list {
  text-align: center;
}

.todo-item {
  margin: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  outline: solid black;
}

#super-list > div > h1 {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 10%;
}