@keyframes mount {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes unmount {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}


#todo-list {
  text-align: center;
}

.color-picker-general {
  width: auto !important;
}

.todo-item {
  margin-bottom: 2%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  overflow: hidden;
  transform-origin:top;
  animation-duration: 0.5s;

  .colors-picker {
    @extend .color-picker-general;
    top: 10%;
    display: block !important;
    position: absolute;
  }
}

.color-picker-add {
  width: fit-content !important;
  margin-right: auto !important;
  margin-left: auto;
}

.todo-item:hover {
  box-shadow: 0 7px 14px rgba(0,0,0,0.20), 0 5px 5px rgba(0,0,0,0.22);
}

.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 12%;
  left: 10%;
}

.x-symbol {
  color: #800000;
  height: 30px;
  position: absolute;
  top: 10%;
  right: 5%;
}

.x-symbol:hover {
  transform: scale(1.3);
}

#super-list > div > h1 {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 10%;
}