{% extends 'account/base.html' %}
{% load crispy_forms_filters %}

{% block title %} Register G&R {% endblock %}

{% block body %}
    <div class="content-section">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Now!</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group text-center">
                <button class="btn btn-outline-success" type="submit">Register</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already have an account? <a class="ml-2" href="{% url 'account_index' %}">Log In</a>
            </small>
        </div>
    </div>
{% endblock %}